.profile {
  height: 520px;
  padding-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgb(201, 137, 19);
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
}

.bold {
  font-weight: normal;
}

/* The header should have a height of 400px and be 100% the width of its parent container
The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
The name should be centered below the avatar
The background-color should be a different colour than the nav and the body */

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  .profile {
    width: 30%;
    float: left;
    margin-top: 200px;
    margin-left: 50px;
  }
}
