nav {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 120px;
  width: 100%;
  color: white;
  background-color: rgb(201, 137, 19);
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em 0 1.5em;
}

nav > span {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
  margin-top: 1em;
  color: white;
}

.new-tweet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.fa-angles-down {
 color: red;
}

/* Laptops / Desktops: minimum width of 1024px */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
  nav > span {
    color: #4056A1;
  }
}