.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fa-times-circle {
  display: none;
}

.error {
  color: #D8000C;
  background-color: #FFD2D2;
  margin: 10px 0px;
  padding:12px;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#tweet-text {
  background-color: transparent;
  resize: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 3px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

button {
  font-family: 'Bungee', sans-serif;
  color: white;
  background-color: #4056A1;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.negative {
  color: red;
}