.tweet {
  width: 90%;
  height: 250px;
  margin-top: 20px;
  border: solid 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.tweet:hover {
  box-shadow: 10px 10px;
}

.avatar-pic {
  width: 80px;
}

.tweet > header {
  margin-top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f4f1ec;
}

header > span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  border-bottom: 3px solid;
}

article > footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-flag:hover{
  color: goldenrod;
}
.fa-retweet:hover{
  color: goldenrod;
}
.fa-heart:hover{
  color: goldenrod;
}